---
const {
  title,
  description = 'La Academia Juvenil de Programación Competitiva es un proyecto educativo gratuito que busca fomentar el interés por la programación y el pensamiento lógico en estudiantes de enseñanza básica y media.',
  imageUrl = '/assets/banners/index.webp',
} = Astro.props

const siteUrl = import.meta.env.PUBLIC_URL || ''
const fullTitle = title
  ? `${title} | Academia Juvenil de Programación Competitiva`
  : 'Academia Juvenil de Programación Competitiva'
---

<title>{fullTitle}</title>
<meta name="description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={siteUrl} />
<meta
  property="og:title"
  content={title || 'Academia Juvenil de Programación'}
/>
<meta property="og:site_name" content="Academia Juvenil de Programación" />
<meta property="og:description" content={description} />
<meta property="twitter:url" content={siteUrl} />
<meta
  property="twitter:title"
  content={title || 'Academia Juvenil de Programación'}
/>
<meta name="twitter:description" content={description} />

<meta property="og:image" content={imageUrl} />
<meta property="og:image:alt" content="Descripción alternativa de la imagen" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content={imageUrl} />
<meta name="twitter:image:alt" content="Descripción alternativa de la imagen" />
